<%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi aut
      reprehenderit reiciendis maiores eaque? Ab, nulla. Commodi esse itaque
      repudiandae excepturi repellat earum laudantium sint. Expedita provident
      quos laboriosam tempora!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi aut
      reprehenderit reiciendis maiores eaque? Ab, nulla. Commodi esse itaque
      repudiandae excepturi repellat earum laudantium sint. Expedita provident
      quos laboriosam tempora!
    </p>
  </body>
</html>
